* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SIGN-UP */

.parent-signUp {
  border: 1px solid gray;
  height: 100vh;
}

.main-signUp-box {
  border: 1px solid gray;
  height: 58vh;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  gap: 5px;
}

.welcome {
  width: 40%;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.create-signUp-account {
  width: 60%;
}

.create h2 {
  text-align: center;
  padding: 20px 0px;
}

.signUp-input label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5px;
}

.signUp-input input {
  width: 98%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  margin-left: 2px;
}

.signUp-input input:focus {
  border-color: lightseagreen;
  box-shadow: 0 0 5px lightseagreen;
  transition: all 0.3s ease;
}

.signUp-button {
  text-align: center;
}

.signUp-button button {
  margin-top: 20px;
  padding: 8px 60px;
  border: 1px solid lightgrey;
  background-color: lightseagreen;
  color: white;
  border-radius: 50px;
  font-weight: bold;
}

/* LOG-IN */
.parentLogin {
  border: 1px solid gray;
  height: 100vh;
}

.login-box {
  border: 1px solid lightgray;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  gap: 15px;
}

.login {
  width: 60%;
}

.welcome-back {
  width: 40%;
  background-color: lightseagreen;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-header {
  text-align: center;
  margin-top: 50px;
}

.login-inputs {
  margin-top: 30px;
  margin-left: 20px;
}

.login-inputs label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-inputs input {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid lightgray;
  outline: none;
  margin-bottom: 10px;
}

.login-inputs input:focus {
  border-color: lightseagreen;
  box-shadow: 0 0 5px lightseagreen;
  transition: all 0.3s ease;
}

.login-button {
  text-align: center;
}

.login-button button {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 8px 60px;
  border: 1px solid lightgrey;
  background-color: lightseagreen;
  color: white;
  border-radius: 50px;
  font-weight: bold;
}

.forget-password {
  text-align: end;
  margin: 2%;
}

/* DASHBOARD */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightseagreen;
}

.nav-logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.logo-image {
  max-width: 60px;
  margin-right: 10px;
}

.logo-image img {
  width: 100%;
}

.nav-buttons button {
  padding: 10px 30px;
  margin: 0px 20px;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: white;
  color: lightseagreen;
  font-weight: bold;
}

.nav-buttons button:hover {
  background-color: lightgray;
  transition: 0.3s ease;
  text-decoration: underline;
}

.body {
  display: grid;
  background-color: lightseagreen;
  color: white;
}

.main-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  gap: 20px;
}

.main-body .body-image {
  max-width: 250px;
}

.body-image img {
  width: 100%;
}

.body-headers {
  text-align: center;
}

.body-headers h3 {
  padding-top: 10px;
}

hr {
  width: 90%;
  margin: auto;
  border: 1px solid lightgray;
}

.body-web-headers {
  text-align: center;
  padding-top: 15px;
}

.body-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.body-button {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: white;
  color: lightseagreen;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-img-1 {
  max-width: 50px;
  margin-right: 10px;
}

.button-img-2 {
  max-width: 45px;
  margin-right: 10px;
}

.button-img-3 {
  max-width: 40px;
  margin-right: 10px;
}

.body-button img {
  width: 100%;
}

/* Dashboard- Overview */

.overview {
  display: flex;
  margin-top: 2%;
}

.overview .overview-section {
  width: 30%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;
  color: white;
}

.overview .overview-img {
  width: 60%;
  margin: auto;
  text-align: center;
}

.overview-img div p {
  font-size: large;
  margin-top: 2%;
}

.overview .overview-img img {
  width: 80%;
  margin-top: 2%;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.overview-img div img:hover {
  box-shadow: 0px 3px 8px lightseagreen;
}

/* Transaction-Dashboard */

.transaction {
  display: flex;
  margin-top: 2%;
}

.transaction .transaction-img {
  width: 60%;
  margin: auto;
  text-align: center;
}

.transaction .transaction-img img {
  width: 80%;
  margin-top: 2%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.transaction .transaction-img p {
  font-size: large;
  margin-top: 2%;
}

.transaction .transaction-section {
  width: 30%;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.transaction .transaction-img img:hover {
  box-shadow: 0px 3px 8px lightseagreen;
}

/* Functions Dashboard */

.functions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 3%;
  padding: 3%;
}

.lucide-icon {
  width: 10%;
  height: 10vh;
  background-color: lightseagreen;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
}

.functions .function-1 {
  display: flex;
  gap: 15px;
}

/* Footer */

.footer {
  background-color: lightseagreen;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: white;
}

/* FORGET PASSWORD */

.forget-password-page {
  display: flex;
  gap: 15px;
  width: 50%;
  margin: auto;
  border: 1px solid gray;
  margin-top: 10%;
}

.forget-password-page .box1 {
  width: 40%;
  background-color: lightseagreen;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forget-password-page .box2 {
  width: 60%;
}

.forget-password-page .box2 .box2-p {
  text-align: center;
  font-size: large;
  margin-top: 10%;
}

.forget-password-page .box2 .box2-input label {
  display: block;
  font-weight: bold;
  margin-top: 10%;
  font-size: large;
  text-align: center;
}

.forget-password-page .box2 .box2-input input {
  width: 98%;
  border-radius: 5px;
  margin-top: 2%;
  outline: none;
  border: 1px solid gray;
  padding: 1%;
}

.forget-password-page .box2 .box2-input input:focus {
  border-color: lightseagreen;
  box-shadow: 0 0 5px lightseagreen;
  transition: all 0.3s ease;
}

.forget-password-page .box2 .box2-button {
  text-align: center;
  margin-top: 10%;
}

.forget-password-page .box2 .box2-button button {
  padding: 2.5%;
  border-radius: 50px;
  background-color: lightseagreen;
  color: white;
  border: 1px solid gray;
  margin-bottom: 10%;
}

/* RESET PASSWORD */

.reset-password {
  display: flex;
  gap: 15px;
  border: 1px solid gray;
  width: 50%;
  margin: auto;
  margin-top: 10%;
}

.reset-password .reset-box1 {
  width: 60%;
}

.reset-box1 .reset-p {
  text-align: center;
  margin-top: 10%;
  font-size: large;
}

.reset-box1 .reset-inputs label {
  display: block;
  font-weight: bold;
  margin-top: 7%;
  text-align: center;
}

.reset-box1 .reset-inputs input {
  width: 98%;
  border: 1px solid gray;
  margin-left: 1%;
  padding: 1%;
  border-radius: 5px;
  margin-top: 1.5%;
  outline: none;
}

.reset-box1 .reset-inputs input:focus {
  border-color: lightseagreen;
  box-shadow: 0 0 5px lightseagreen;
  transition: all 0.3s ease;
}

.reset-password .reset-box2 {
  width: 40%;
  background-color: lightseagreen;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password .reset-button{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.reset-password .reset-button button{
  padding: 1.5%;
  border-radius: 50px;
  border: 1px solid gray;
  background-color: lightseagreen;
  color: white;
}