* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SIGN-UP */

.parent-signUp {
  border: 1px solid gray;
  height: 100vh;
}

.main-signUp-box {
  border: 1px solid gray;
  height: 58vh;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  gap: 5px;
}

.welcome {
  width: 40%;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.create-signUp-account {
  width: 60%;
}

.create h2 {
  text-align: center;
  padding: 20px 0px;
}

.signUp-input label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5px;
}

.signUp-input input {
  width: 98%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  margin-left: 2px;
}

.signUp-input input:focus {
  border-color: lightseagreen;
  box-shadow: 0 0 5px lightseagreen;
  transition: all 0.3s ease;
}

.signUp-button {
  text-align: center;
}

.signUp-button button {
  margin-top: 20px;
  padding: 8px 60px;
  border: 1px solid lightgrey;
  background-color: lightseagreen;
  color: white;
  border-radius: 50px;
  font-weight: bold;
}

/* LOG-IN */
.parentLogin {
  border: 1px solid gray;
  height: 100vh;
}

.login-box {
  border: 1px solid lightgray;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  gap: 15px;
}

.login {
  width: 60%;
}

.welcome-back {
  width: 40%;
  background-color: lightseagreen;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-header {
  text-align: center;
  margin-top: 50px;
}

.login-inputs {
  margin-top: 30px;
  margin-left: 20px;
}

.login-inputs label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-inputs input {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid lightgray;
  outline: none;
  margin-bottom: 10px;
}

.login-inputs input:focus {
  border-color: lightseagreen;
  box-shadow: 0 0 5px lightseagreen;
  transition: all 0.3s ease;
}

.login-button {
  text-align: center;
}

.login-button button {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 8px 60px;
  border: 1px solid lightgrey;
  background-color: lightseagreen;
  color: white;
  border-radius: 50px;
  font-weight: bold;
}

.forget-password {
  text-align: end;
  margin: 2%;
}

/* DASHBOARD */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightseagreen;
}

.nav-logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.logo-image {
  max-width: 60px;
  margin-right: 10px;
}

.logo-image img {
  width: 100%;
}

.nav-buttons button {
  padding: 10px 30px;
  margin: 0px 20px;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: white;
  color: lightseagreen;
  font-weight: bold;
}

.nav-buttons button:hover {
  background-color: lightgray;
  transition: 0.3s ease;
  text-decoration: underline;
}

.body {
  display: grid;
  background-color: lightseagreen;
  color: white;
}

.main-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  gap: 20px;
}

.main-body .body-image {
  max-width: 250px;
}

.body-image img {
  width: 100%;
}

.body-headers {
  text-align: center;
}

.body-headers h3 {
  padding-top: 10px;
}

.body hr {
  width: 90%;
  margin: auto;
  border: 1px solid lightgray;
}

.body-web-headers {
  text-align: center;
  padding-top: 15px;
}

.body-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.body-button {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: white;
  color: lightseagreen;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-img-1 {
  max-width: 50px;
  margin-right: 10px;
}

.button-img-2 {
  max-width: 45px;
  margin-right: 10px;
}

.button-img-3 {
  max-width: 40px;
  margin-right: 10px;
}

.body-button img {
  width: 100%;
}

/* Dashboard- Overview */

.dashboard-overview{
  display: flex;
  margin-top: 2%;
}

.dashboard-overview .overview-section {
  width: 30%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;
  color: white;
}

.dashboard-overview .overview-img {
  width: 60%;
  margin: auto;
  text-align: center;
}

.overview-img div p {
  font-size: large;
  margin-top: 2%;
}

.dashboard-overview .overview-img img {
  width: 80%;
  margin-top: 2%;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.overview-img div img:hover {
  box-shadow: 0px 3px 8px lightseagreen;
}

/* Transaction-Dashboard */

.dashboard-transaction {
  display: flex;
  margin-top: 2%;
}

.dashboard-transaction .transaction-img {
  width: 55%;
  text-align: center;
  margin: auto;
}

.dashboard-transaction .transaction-img img {
  width: 80%;
  margin-top: 2%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dashboard-transaction .transaction-img p {
  font-size: large;
  margin-top: 2%;
}

.dashboard-transaction .transaction-section {
  width: 30%;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.dashboard-transaction .transaction-img img:hover {
  box-shadow: 0px 3px 8px lightseagreen;
}

/* Functions Dashboard */

.functions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 3%;
  padding: 3%;
}

.lucide-icon {
  width: 10%;
  height: 10vh;
  background-color: lightseagreen;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
}

.functions .function-1 {
  display: flex;
  gap: 15px;
}

/* Footer */

.footer {
  background-color: lightseagreen;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: white;
}

/* FORGET PASSWORD */

.forget-password-page {
  display: flex;
  gap: 15px;
  width: 50%;
  margin: auto;
  border: 1px solid gray;
  margin-top: 10%;
}

.forget-password-page .box1 {
  width: 40%;
  background-color: lightseagreen;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forget-password-page .box2 {
  width: 60%;
}

.forget-password-page .box2 .box2-p {
  text-align: center;
  font-size: large;
  margin-top: 10%;
}

.forget-password-page .box2 .box2-input label {
  display: block;
  font-weight: bold;
  margin-top: 10%;
  font-size: large;
  text-align: center;
}

.forget-password-page .box2 .box2-input input {
  width: 98%;
  border-radius: 5px;
  margin-top: 2%;
  outline: none;
  border: 1px solid gray;
  padding: 1%;
}

.forget-password-page .box2 .box2-input input:focus {
  border-color: lightseagreen;
  box-shadow: 0 0 5px lightseagreen;
  transition: all 0.3s ease;
}

.forget-password-page .box2 .box2-button {
  text-align: center;
  margin-top: 10%;
}

.forget-password-page .box2 .box2-button button {
  padding: 2.5%;
  border-radius: 50px;
  background-color: lightseagreen;
  color: white;
  border: 1px solid gray;
  margin-bottom: 10%;
}

/* RESET PASSWORD */

.reset-password {
  display: flex;
  gap: 15px;
  border: 1px solid gray;
  width: 50%;
  margin: auto;
  margin-top: 10%;
}

.reset-password .reset-box1 {
  width: 60%;
}

.reset-box1 .reset-p {
  text-align: center;
  margin-top: 10%;
  font-size: large;
}

.reset-box1 .reset-inputs label {
  display: block;
  font-weight: bold;
  margin-top: 7%;
  text-align: center;
}

.reset-box1 .reset-inputs input {
  width: 98%;
  border: 1px solid gray;
  margin-left: 1%;
  padding: 1%;
  border-radius: 5px;
  margin-top: 1.5%;
  outline: none;
}

.reset-box1 .reset-inputs input:focus {
  border-color: lightseagreen;
  box-shadow: 0 0 5px lightseagreen;
  transition: all 0.3s ease;
}

.reset-password .reset-box2 {
  width: 40%;
  background-color: lightseagreen;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password .reset-button {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.reset-password .reset-button button {
  padding: 1.5%;
  border-radius: 50px;
  border: 1px solid gray;
  background-color: lightseagreen;
  color: white;
}


/* MAIN PAGE */

.main-page {
  display: flex;
  height: 100vh;
}

.main-page .sidebar {
  height: 100vh;
  width: 25%;
  background-color: lightseagreen;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-hidden {
  display: none;
}

.sidebar .sidebar-logo {
  display: flex;
  gap: 2%;
  align-items: center;
  margin-left: 5%;
}

.sidebar-img {
  width: 20%;
}

.sidebar-img img {
  width: 100%;
}

.sidebar-logo .sidebar-name {
  width: 80%;
}

.sidebar-page {
  margin-left: 5%;
  margin-top: 15%;
}

.sidebar-ol {
  list-style-type: none;
}

.sidebar-ol li {
  display: flex;
  align-items: center;
  gap: 5%;
  margin-bottom: 15%;
  padding: 1%;
  border-radius: 10px;
  transition: 0.2s;
}

.sidebar-ol li .navlink {
  color: white;
  font-size: larger;
  text-decoration: none;
}

.sidebar-ol li:hover {
  background-color: black
}

.main-page .main-page-body {
  width: 75%;
  margin-left: 25%;
  overflow-y: auto;
}


/* Main-Page-Body */

.main-page-body-full {
  width: 100%;
}

.main-page-body-nav {
  display: flex;
  padding: 1.7%;
  gap: 2%;
  align-items: center;
  border: 1px solid lightgray;
  position: sticky;
  top: 0px;
  background-color: azure;
}

.main-page-body-nav button {
  background-color: azure;
  border: 1px solid azure;
}

.main-page-body-nav .nav-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* DropDown Container */

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 120%;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 999;
  background-color: white;
}


.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 6rem;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
}

/* Income / Expense Button*/

.Income{
  position: fixed;
  right: 2%;
  bottom: 28%;
  z-index: 1;
}

.Income button{
  padding: 1rem 1.5rem;
  background-color: green;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: white;
}

.Income .income-popUp-overlay{
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.Income .income-popUp-content {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.income-popUp-content div h1{
  text-align: center;
  margin-bottom: 0.5rem;
}

.income-data label{
  font-size: large;
  font-weight: bold;
  margin-left: 0.3rem;
  display: block;
  margin-bottom: 0.2rem;
}

.income-data .type{
  display: block;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  outline: none;
}

.income-data .type:focus{
  border-color: lightseagreen;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px lightseagreen;
}

.income-content-button{
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

/* Expenses */

.Expense{
  position: fixed;
  right: 1.8%;
  bottom: 16%;
  z-index: 1;
}

.Expense .expense-popup-overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.expense-popup-overlay .expense-popup-content{
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 50%;
  border-radius: 10px;
}

.expense-popup-content div h1{
  text-align: center;
  margin-bottom: 0.5rem;
}

.expense-data .type{
  display: block;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  outline: none;
}

.expense-data label{
  font-size: large;
  font-weight: bold;
  margin-left: 0.3rem;
  display: block;
  margin-bottom: 0.2rem;
}

.expense-data .type:focus{
  border-color: lightseagreen;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px lightseagreen;
}

.expense-content-button{
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.Expense button{
  padding: 1rem 1.3rem;
  background-color: red;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: white;
}

/* Main-Page OverView */

.overview{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  align-items: start;
  margin : 1rem;
  gap: 0.5rem;
}

/* Accounts */

.overview .overview-accounts{
  background-color: azure;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem;
}

.overview-accounts .overview-accounts-wallet{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.overview-accounts .overview-accounts-wallet h3{
  text-align: end;
}

.overview-accounts .overview-accounts-bank h3{
  text-align: end;
}

.overview-accounts .overview-accounts-bank{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* BAR Chart */

.overview .overview-BarChart{
  background-color: azure;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem 1rem;
}

/* Transaction */

.overview .overview-transaction{
  
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem;
  background-color: azure;
}

.overview-transaction .overview-transaction-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview-transaction .overview-transaction-line button{
  background-color: azure;
  border: 1px solid azure;
}

/* drop down transaction */

.dropdownTransaction{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.dropdownTransaction .dropdownTransaction-content{
 background-color: white;
 width: 50%;
 padding: 1rem;
 border: 1px solid lightgray;
 border-radius: 5px;
}

.dropdownTransaction .dropdownTransaction-content h1{
  text-align: center;
}

.dropdownTransaction-content .content-options{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.dropdownTransaction-content .content-options select{
  width: 70%;
  padding: 0.5rem;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 5px;
}

.dropdownTransaction-content .content-options select:focus{
  border-color: lightseagreen;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px lightseagreen;
}

.dropdownTransaction-content .content-button{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  margin-right: 1rem;
}

.dropdownTransaction-content .content-button button{
  background-color: lightseagreen;
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
  border-radius: 5px;
}


.overview-transaction .overview-transaction-line1{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.overview-transaction .overview-transaction-line2{
  display: flex;
  justify-content: space-between;
}

/* Cash Flow */

.overview .overview-cashflow{
  border: 1px solid lightgray;
  background-color: azure;
  border-radius: 5px;
  padding-bottom: 0.5rem;
}

.overview .overview-cashflow div h3{
  padding-left: 1rem;
  margin-top: 1rem; 
}

.overview-cashflow .cashflow-table{
  border-collapse: collapse;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dates{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.dates button{
  background-color: azure;
  border: 1px solid azure;
}

.cashflow-table tr + tr td{
  border-top  : 1px solid lightgray;
}

.cashflow-table tr th{
  border-bottom: 2px solid black;
  padding: 0.5rem;
}

.cashflow-table td{
  text-align: center;
}

.cashflow-table td:nth-child(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.cashflow-total{
  text-align: end;
  padding-right: 1rem;
}


/* Main-Page Transaction */

.transaction {
  display: grid;
  grid-template-areas: "filter date date"
    "filter  all  all"
    ".   all  all";
  margin: 0.5rem;
}

.transaction .transaction-filter {
  grid-area: filter;
  border: 1px solid lightgray;
  background-color: azure;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.transaction-filter .transaction-filter-header {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.transaction-filter .transaction-filter-inputs label {
  display: block;
  font-weight: bold;
  font-size: large;
  margin-bottom: 3%;
  margin-left: 2%;
}

.transaction-filter .transaction-filter-inputs input {
  width: 98%;
  padding: 1%;
  border: 1px solid lightgray;
  border-radius: 10px;
  outline: none;
  margin-bottom: 3%;
  margin-left: 1%;
}

.transaction-filter .transaction-filter-inputs input:focus {
  border-color: lightblue;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px lightblue;
}

.transaction-filter-checkbox div {
  margin-bottom: 4%;
  margin-left: 2%;
}

.transaction-filter-checkbox .type {
  font-weight: bold;
  font-size: large;
}

.transaction-filter-checkbox .expense {
  display: flex;
  gap: 2%;
}

.transaction-filter-checkbox .income {
  display: flex;
  gap: 2%;
}

.transaction .transaction-date {
  grid-area: date;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: azure;
}

.transaction .transaction-date button{
  background-color: azure;
  border: 1px solid azure;
}

.transaction .all-transaction {
  grid-area: all;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: azure;
}

.all-transaction .transaction-headers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.map-transaction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0 1rem;
}

.map-transaction .map-transaction-content{
  display: flex;
  justify-content: space-between;
  width: 92%;
}

.map-transaction .transaction-amount-date{
  text-align: end ; 
}

.map-transaction .map-transaction-button button{
  background-color: azure;
  border: 1px solid azure;
}

.map-transaction-button{
  position: relative;
}

.edit-delete-dropdown-content{
  position: absolute;
  right: 0;
  top: 120%;
  background-color: lightseagreen;
  border: 1px solid lightseagreen;
  border-radius: 10px;
  padding: 0.5rem 1rem; 
  z-index: 1;
}

.edit-delete-dropdown-content ol{
  display: grid;
  gap: 10px;
  width: 8rem;
}

.edit-delete-dropdown-content ol li{
  list-style: none;
  cursor: pointer;
  color: white;
}

.edit-delete-dropdown-content ol li:hover{
  text-decoration: underline;
}

/* EDIT TRANSACTION INCOME */

.edit-transaction-income{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.edit-transaction-income .edit-transaction-income-content{
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.edit-transaction-income .edit-transaction-income-content div h1{
  text-align: center;
  margin-bottom: 0.5rem;
}

.edit-transaction-content-inputs label{
  font-size: large;
  font-weight: bold;
  margin-left: 0.3rem;
  display: block;
  margin-bottom: 0.2rem;
}

.edit-transaction-content-inputs .inputs{
  display: block;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  outline: none;
}

.edit-transaction-content-inputs .inputs:focus{
  border-color: lightseagreen;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px lightseagreen;
}

.edit-transaction-income-content-buttons{
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin-top: 1rem;
  margin-right: 1rem; 
}

.edit-transaction-income-content-buttons button{
  padding: 1rem 1.5rem;
  background-color: green !important;
  border-radius: 10px;
  color: white;
}

/* EDIT TRANSACTION EXPENSES */

.edit-transaction-expenses{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.edit-transaction-expenses-content{
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.edit-transaction-expenses .edit-transaction-expenses-content div h1{
  text-align: center;
  margin-bottom: 0.5rem;
}


.edit-transaction-expenses-content-inputs label{
  font-size: large;
  font-weight: bold;
  margin-left: 0.3rem;
  display: block;
  margin-bottom: 0.2rem;
}

.edit-transaction-expenses-content-inputs .inputs{
  display: block;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  outline: none;
}

.edit-transaction-expenses-content-inputs .inputs:focus{
  border-color: lightseagreen;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px lightseagreen;
}

.edit-transaction-expenses-content-buttons{
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin-top: 1rem;
  margin-right: 1rem; 
}

.edit-transaction-expenses-content-buttons button{
  padding: 1rem 1.5rem;
  background-color:red !important;
  border-radius: 10px;
  color: white;
}

/* Accounts */

.accounts .accounts-wallet {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 5%;
  padding: 2%;
  background-color: azure;
}

.accounts .accounts-bank {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 5%;
  padding: 2%;
  background-color: azure;
}

.accounts .accounts-total {
  display: flex;
  justify-content: end;
  gap: 1rem;
  width: 50%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 10%;
  padding: 2%;
  background-color: azure;
}

/*  CHARTS */

.charts .charts-content{
  width: 60%;
  border: 2px solid red;
  margin: auto;
  margin-top: 3rem;
  background-color: azure;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem;
}

.charts-content .charts-content-1{
  display: flex;
  justify-content: space-between;
}

.charts-content-1 .charts-radio{
  display: flex;
  gap: 0.5rem;
}

.charts-content-2 .charts-content-2-from-to{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 2rem;
}

.charts-content-2 .charts-content-2-date{
  display: flex;
  gap: 1.1rem;
}

.charts-content-2 .charts-content-2-date input{
  padding: 0.3rem;
  margin-top: 0.3rem;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.charts-content-3{
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.charts-content-3 select{
  padding: 0.3rem;
  width: 60%;
}

.charts-content-4{
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
}

.bar-chart{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.pie-chart{
  display: flex;
  gap: 0.5rem;
}


.charts-content-5{
  text-align: end;
  margin-top: 2rem;
}

.charts-content-5 button{
  padding: 0.7rem;
  background-color: lightseagreen;
  color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.display-chart{
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: azure;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2rem;
}

/* SETTINGS */

.settings{
 border: 1px solid lightgray;
 width: 70%;
 margin: auto;
 background-color: azure;
 margin-top: 3rem;
 padding: 1rem;
}

.settings .settings-feedback{
  margin-bottom: 0.5rem;
}

.settings .settings-currency{
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.settings .settings-currency select{
  width: 60%;
  padding: 0.5rem;
  outline: none;
  border: 1px solid lightgray;
}

.settings .settings-currency select:focus{
  border-color: lightseagreen;
  box-shadow: 0 0 5px lightseagreen;
  transition: all 0.3s ease;
}

.settings .settings-currency button{
  padding: 0.4rem 1.2rem ;
  background-color: lightseagreen;
  color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}